
header h1{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}


.formato1{
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    text-align: center;
    
}
.elemento{
    display: inline-block;
    width: 30%;
}


