/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-oct-2019, 1:36:56
    Author     : Francisco_Antonio
*/

[id="menu"]
{
   font-family: 'PT Sans', sans-serif;
   font-size: 16px;
   color: chocolate;
   padding:2px;
   cursor:pointer;
   display:block;
   width:290px;
   margin: 0 auto;
   text-align:center;
   border-color: darkkhaki;
}
h1{
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    text-align: center;
    border-bottom: solid burlywood;
}