/*

*/
/* 
    Created on : 01-oct-2019, 17:25:45
    Author     : FranciscoAntonio
*/

[id="formulario"]
{
   font-family: 'PT Sans', sans-serif;
   font-size: 16px;
   padding:2px;
   cursor:pointer;
   display:block;
   width:290px;
   margin: 0 auto;
   text-align:center;
}
h1{
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    text-align: center;
    border-bottom: solid blue;
}